# Prerequisites
*.d
.vs
*.txt
x64/
NaN/x64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln

# Precompiled Headers
*.gch
*.pch
*.vcxproj
*.vcxproj.*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
